code/easier-uml2lqn/org.univaq.uml2lqn/lqnxsd/lqn.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    Copyright March 2004, the Real-Time and Distributed Systems Group,
    Department of Systems and Computer Engineering,
    Carleton University, Ottawa, Ontario, Canada. K1S 5B6
  --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  
  <xsd:include schemaLocation="lqn-core.xsd"/>
        
  
  
  <xsd:element name="lqn-model" type="LqnModelType">
                
    
    
    
    <xsd:unique name="UniqueProcessorName">
                        
      
      
      <xsd:selector xpath="processor"/>
                        
      
      
      <xsd:field xpath="@name"/>
                      
    
    
    </xsd:unique>
                
    
    
    <xsd:unique name="UniqueTaskName">
                        
      
      
      <xsd:selector xpath="./processor/task"/>
                        
      
      
      <xsd:field xpath="@name"/>
                      
    
    
    </xsd:unique>
                
    
    
    <xsd:unique name="UniqueEntryName">
                        
      
      
      <xsd:selector xpath="./processor/task/entry"/>
                        
      
      
      <xsd:field xpath="@name"/>
                      
    
    
    </xsd:unique>
                
    
    
    <xsd:keyref name="ExistingSyncDest" refer="DestEntry">
                        
      
      
      <xsd:selector xpath=".//synch-call"/>
                        
      
      
      <xsd:field xpath="@dest"/>
                      
    
    
    </xsd:keyref>
                
    
    
    <xsd:keyref name="ExistingAsyncDest" refer="DestEntry">
                        
      
      
      <xsd:selector xpath=".//asynch-call"/>
                        
      
      
      <xsd:field xpath="@dest"/>
                      
    
    
    </xsd:keyref>
                
    
    
    <xsd:keyref name="ExistingForwardingDest" refer="DestEntry">
                        
      
      
      <xsd:selector xpath="./processor/task/entry/forwarding"/>
                        
      
      
      <xsd:field xpath="@dest"/>
                      
    
    
    </xsd:keyref>
                
    
    
    <xsd:key name="DestEntry">
                        
      
      
      <xsd:selector xpath="./processor/task/entry|./processor/group/task/entry"/>
                        
      
      
      <xsd:field xpath="@name"/>
                      
    
    
    </xsd:key>
              
  
  
  </xsd:element>
        
  
  
  <xsd:complexType name="LqnModelType">
                
    
    
    <xsd:sequence>
                        
      
      
      <xsd:element minOccurs="0" name="run-control">
                        	
        
        
        <xsd:complexType>
                              	  
          
          
          <xsd:sequence>
                                    	    
            
            
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="para">
                                          	      
              
              
              <xsd:complexType>
                                                		
                
                
                <xsd:choice>
                                                      		  
                  
                  
                  <xsd:sequence>
                                                            		    
                    
                    
                    <xsd:element name="start-value" type="xsd:int"/>
                                                            		    
                    
                    
                    <xsd:element name="end-value" type="xsd:int"/>
                                                            		    
                    
                    
                    <xsd:element name="step-value" type="xsd:int"/>
                                                            		  
                  
                  
                  </xsd:sequence>
                                                      		  
                  
                  
                  <xsd:sequence>
                                                            		    
                    
                    
                    <xsd:element maxOccurs="unbounded" name="value" type="xsd:int"/>
                                                            		  
                  
                  
                  </xsd:sequence>
                                                      		
                
                
                </xsd:choice>
                                                	      
              
              
              </xsd:complexType>
                                          	    
            
            
            </xsd:element>
                                    	  
          
          
          </xsd:sequence>
                              	
        
        
        </xsd:complexType>
                              
      
      
      </xsd:element>
                        
      
      
      <xsd:element minOccurs="0" name="plot-control">
                        	
        
        
        <xsd:complexType>
                              	  
          
          
          <xsd:sequence>
                                    	    
            
            
            <xsd:element name="first-plot">
                                          	      
              
              
              <xsd:complexType>
                                                		
                
                
                <xsd:attribute name="variable" type="xsd:string"/>
                                                	      
              
              
              </xsd:complexType>
                                          	    
            
            
            </xsd:element>
                                    	    
            
            
            <xsd:element maxOccurs="unbounded" name="plot">
                                          	      
              
              
              <xsd:complexType>
                                                		
                
                
                <xsd:attribute name="variable" type="xsd:string"/>
                                                	      
              
              
              </xsd:complexType>
                                          	    
            
            
            </xsd:element>
                                    	  
          
          
          </xsd:sequence>
                              	
        
        
        </xsd:complexType>
                              
      
      
      </xsd:element>
                        
      
      
      <xsd:element name="solver-params">
                        	
        
        
        <xsd:complexType>
                                        
          
          
          <xsd:sequence>
                                                
            
            
            <xsd:element maxOccurs="1" minOccurs="0" name="result-general">
                                          	      
              
              
              <xsd:complexType>
                                                		
                
                
                <xsd:sequence>
                                                      		  
                  
                  
                  <xsd:element maxOccurs="1" minOccurs="0" name="mva-info">
                                                            		    
                    
                    
                    <xsd:complexType>
                                                                  		      
                      
                      
                      <xsd:attribute name="submodels" type="xsd:nonNegativeInteger" use="required"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="core" type="xsd:nonNegativeInteger" use="required"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="step" type="xsd:double" use="required"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="step-squared" type="xsd:double" use="optional"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="wait" type="xsd:double" use="required"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="wait-squared" type="xsd:double" use="optional"/>
                                                                  		      
                      
                      
                      <xsd:attribute name="faults" type="xsd:nonNegativeInteger" use="optional"/>
                                                                  		    
                    
                    
                    </xsd:complexType>
                                                            		  
                  
                  
                  </xsd:element>
                                                        
		
                
                
                </xsd:sequence>
                                                		
                
                
                <xsd:attribute name="conv-val" type="xsd:double" use="required"/>
                                                		
                
                
                <xsd:attribute name="valid" use="required">
                                                      		  
                  
                  
                  <xsd:simpleType>
                                                            		    
                    
                    
                    <xsd:restriction base="xsd:string">
                                                                  		      
                      
                      
                      <xsd:enumeration value="YES"/>
                                                                  		      
                      
                      
                      <xsd:enumeration value="NO"/>
                                                                  		    
                    
                    
                    </xsd:restriction>
                                                            		  
                  
                  
                  </xsd:simpleType>
                                                      		
                
                
                </xsd:attribute>
                                                		
                
                
                <xsd:attribute name="iterations" type="xsd:double" use="optional"/>
                                                		
                
                
                <xsd:attribute name="elapsed-time" type="xsd:time" use="optional"/>
                                                		
                
                
                <xsd:attribute name="system-cpu-time" type="xsd:time" use="optional"/>
                                                		
                
                
                <xsd:attribute name="user-cpu-time" type="xsd:time" use="optional"/>
                                                		
                
                
                <xsd:attribute name="max-rss" type="xsd:long" use="optional"/>
                                                		
                
                
                <xsd:attribute name="platform-info" type="xsd:string" use="optional"/>
                                                		
                
                
                <xsd:attribute name="solver-info" type="xsd:string" use="optional"/>
                                                	      
              
              
              </xsd:complexType>
                                                      
            
            
            </xsd:element>
                                    	    
            
            
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="pragma">
                                          	      
              
              
              <xsd:complexType>
                                                		
                
                
                <xsd:attribute name="param" type="xsd:string" use="required"/>
                                                		
                
                
                <xsd:attribute name="value" type="xsd:string" use="required"/>
                                                	      
              
              
              </xsd:complexType>
                                          	    
            
            
            </xsd:element>
                                              
          
          
          </xsd:sequence>
                              	  
          
          
          <xsd:attribute default="" name="comment" type="xsd:string"/>
                              	  
          
          
          <xsd:attribute default="1" name="conv_val" type="xsd:double"/>
                              	  
          
          
          <xsd:attribute default="50" name="it_limit" type="xsd:int"/>
                              	  
          
          
          <xsd:attribute default="0" name="print_int" type="xsd:int"/>
                              	  
          
          
          <xsd:attribute default="0.9" name="underrelax_coeff" type="xsd:double"/>
                              	
        
        
        </xsd:complexType>
                              
      
      
      </xsd:element>
                        
      
      
      <xsd:element maxOccurs="unbounded" name="processor" type="ProcessorType"/>
                        
      
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="slot" type="SlotType"/>
                        
      
      
      <xsd:element maxOccurs="1" minOccurs="0" name="lqx" type="xsd:string"/>
                      
    
    
    </xsd:sequence>
                
    
    
    <xsd:attribute name="name" type="xsd:string"/>
                
    
    
    <xsd:attribute name="description" type="xsd:string"/>
                
    
    
    <xsd:attribute fixed="1.0" name="lqn-schema-version" type="xsd:decimal"/>
                
    
    
    <xsd:attributeGroup ref="LQNCoreVersion"/>
                
    
    
    <xsd:attribute name="xml-debug" type="xsd:boolean"/>
              
  
  
  </xsd:complexType>
      


</xsd:schema>
